<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-grid-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

</head>

<body>
    <div class="screen-overlay"></div>
   
    <main >
        <%- include('../partials/user-header')%>
        <section class="content-main">

            
            <div class="row">
                <%if(data.length == 0){%>
                    <h3>No products found</h3>
                <%}else{%>
                <%for(i=0;i<data.length;i++){%>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                        <a href="/product-detail-page/<%=data[i]._id%>" class="img-wrap"> <img src="/upload/product/<%=data[i].images[0]%>" alt="Product"> </a>
                        <div class="info-wrap">
                            <a href="#" class="title"><%=data[i].name%></a>
                            <div class="price mt-1"><s style="color: red;">Rs <%=data[i].regular_price%></s></div> 
                            <div class="price mt-1">Rs <%=data[i].sale_price%></div> 
                            <div class="dropdown float-end">
                                <a class="btn btn-sm btn-brand rounded" onclick="addToCart('<%=data[i]._id%>')">
                                    <i class="material-icons md-shopping_cart" style="align-items: center;"></i>Add to cart
                                </a>
                            </div>
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->
                <%}%>
                <%}%>
            </div> <!-- row.// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
</body>

<script>
    function addToCart(proId){
        $.ajax({
            url:'/add-to-cart/'+proId,
            method:'post',
            data:{
                quantity:1,
                size:'small',
            },
            success(response){
                if(response == true){
                    Swal.fire({
                    title: 'CART',
                    text: 'Product ADDED TO CART.',
                    icon: 'SUCCESSS',
                    timer: 5000
                })
                }else{
                    Swal.fire({
                    title: 'STOCK!',
                    text: 'Product is out of stock.',
                    icon: 'error',
                    timer: 5000
                })
                }
            }
            
        })
    }
</script>
<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-grid-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>